 <div class="card">
    <img src="<%= asset_pack_path 'media/images/image3.jpg' %>" alt=" demo instructions"></img>
    <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card">
    <img src="<%= asset_pack_path 'media/images/image2.jpg' %>" alt=" demo instructions"></img>
    <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card">
    <img src="<%= asset_pack_path 'media/images/image1.jpg' %>" alt=" demo instructions"></img>
    <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card">
    <img src="<%= asset_pack_path 'media/images/image3.jpg' %>" alt=" demo instructions"></img>
    <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card">
    <img src="<%= asset_pack_path 'media/images/image3.jpg' %>" alt=" demo instructions"></img>
    <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
    <div class="card">
    <img src="<%= asset_pack_path 'media/images/image3.jpg' %>" alt=" demo instructions"></img>
    <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card">
    <img src="<%= asset_pack_path 'media/images/image3.jpg' %>" alt=" demo instructions"></img>
    <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>

<style>
    .card{
      margin: 6px !important;
      width: 17rem;
    }
</style>
