<div class="page-topic d-flex justify-content-center shadow-sm">
    <div class="row container">
        <div class="text-center ">
            <h3 class="my-h3">Hello <%= current_user.username.capitalize %>,</h3>
        </div>
    </div>
</div>
<div class="book booking-edit"></div>
<div class="booking-details"></div>
<div class="custom-trip"></div>
<div class="row" >
    <div class="col-8">
    <br><br>
        <div class="booking-table" style="margin: 0 auto; width:94%;">       
            <div class="wrapper ">
                <div class="page-header my-h3">
                    <% if current_user.role_code == "admin"%>
                        <h3>All Customer Booking History</h3>
                    <% else %>
                        <h3>View Your Booking History</h3>
                    <% end %>
                </div>
                <br>

                <div class="table-responsive shadow-sm">
                    <table class="table table-hover table-lg">
                        <thead style="height: 50px; border-top: 1px solid #000; background-color: #ececec;">
                        <tr>
                            <th>#</th>
                            <th>Trip</th>
                            <th>Coordination</th>
                            <th>No. of people</th>
                            <th>Hotel</th>
                            <th>Duration</th>
                            <th colspan="2"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% @booking_infos.each_with_index do |booking_info,index| %>
                        <% @tour = Tour.where("id = ?",booking_info.tour_id)[0]%>
                            <tr>
                            <td><%= index+1 %></td>
                            <td><%= @tour.title if !@tour.nil?%></td>
                            <td><%= booking_info.coordination_preference %></td>
                            <td><%= booking_info.group_count %></td>
                            <td><%= booking_info.hotel_type %></td>
                            <td><%= booking_info.tour_duration %></td>
                            <td>
                                <% if booking_info.status == 'postponed'%>
                                    <%= link_to edit_booking_info_path(booking_info, marker:"postponed"),remote:true, class:"btn btn-secondary" do %>
                                        Postponed
                                    <% end %>
                                <% else %>
                                    <%= link_to edit_booking_info_path(booking_info),remote:true, class:"btn btn-outline-dark" do %>
                                        Postpone trip
                                    <% end %>
                                <% end %>
                            </td>
                            <td><button class="btn btn-dark"><i class="fas fa-upload"></i></button></td>
                            </tr>
                        <% end %>
                        </tbody>
                        <div class="items-count">
                            No. of records: 
                            <%#= link_to_unless_current '10',  root_path(items: 10), class:"item-cnt btn btn-sm btn-outline-dark"%>
                            <%= link_to_unless_current '20',  root_path(items: 20), class:"item-cnt btn btn-sm btn-outline-dark"%>
                            <%= link_to_unless_current '50',  root_path(items: 50), class:"item-cnt btn btn-sm btn-outline-dark"%>
                            <%= link_to_unless_current '100',  root_path(items: 100), class:"item-cnt btn btn-sm btn-outline-dark"%>
                        </div>
                    </table>
                    <%== pagy_bootstrap_nav(@pagy) %>
                </div>
            </div>
        </div>

    </div> 
    <%# #dfe6e9 %>
    <div class="col-4 shadow-sm" style="background-color:#ececec; padding: 20px 0 20px 10px; border-left: 1px solid #000;">
        <div class="row">
            <h3 class="text-center" style="margin-bottom:20px;">Upcoming Trips</h4>
            <% if current_user.role_code == "admin"%>
                <%= link_to new_tour_path, class:"btn btn-lg btn-dark " do %>
                    Add a new trip
                <% end %>
            <% end %>
            <br>
            <hr>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">          
                <tbody>
                    <% @tours.each_with_index do |tour, index| %>
                        <tr>
                            <td>
                                <div class="">
                                    <%# <a href="/tours" > %>
                                        <% if tour.image.attached? %>
                                        
                                            <img src="<%= url_for(tour.image) %>" alt=" demo instructions" class="tl2">
                                        <% else %>
                                            <p class="text-center">Image not available</p>
                                        <% end %>
                                    <%# </a> %>
                                </div>
                            </td>
                            <td class="align-top">
                                <!-- <b><%#= tour.tour_id %></b><br> -->
                                <span class="text-4"><%= tour.title %></span><br>
                                <%#= tour.start_date.strftime("%m-%d-%Y") if !tour.start_date.nil?%>
                                <% date = tour.start_date %>
                                <span class="text-3 font-weight-300"><%=  date.to_date.strftime("%d") if !date.nil?%></span>
                                <span class="text-1 font-weight-300 text-uppercase"><%= date.to_date.strftime("%b") if !date.nil?%>,
                                    <%=  date.to_date.strftime("%Y") if !date.nil? %>
                                </span>
                                 -to- 
                                <% date = tour.end_date %>
                                <span class="text-3 font-weight-300"><%=  date.to_date.strftime("%d") if !date.nil?%></span>
                                <span class="text-1 font-weight-300 text-uppercase"><%= date.to_date.strftime("%b") if !date.nil?%>,
                                    <%=  date.to_date.strftime("%Y") if !date.nil? %>
                                </span>
                                <br>
                                <span class="text-3 font-weight-300 text-uppercase">$ <%= tour.price %></span>
                                <br>
                                <%= link_to "Itenerary",booking_details_path(id: tour.id),remote: true, class:"btn btn-link" %>
                                <br>
                                <%= link_to "Book Trip", book_form_path(tour_id: tour.id), class:"btn btn-md btn-dark", remote: true%>
                                <% if current_user.role_code == 'admin'%>
                                    <%= link_to edit_tour_path(tour), class:"btn btn-md btn-secondary" do %>
                                        <i class="fas fa-edit"></i> Edit
                                    <% end %>
                                <% end %>
                            </td>
                        </tr>
                        
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .item-cnt{
        margin: 10px 5px;
    }
    .tl2{
    margin: 5px;
    height:150px !important;
    width:150px !important;
    border-radius: 5px;
    }

    .tl2:hover{
    height:153px !important;
    width:153px !important;
    }
    .my-h3{
        font-weight: 300; 
        font-family: poppins;
    }
    .page-topic{
    padding: 50px 0 40px 0;
    background-color: #ececec !important;
    color:#161616 !important;
    border-bottom:1px solid #000;
    }

    .page-link{
        color: #000 !important;
    }

    .page-item.active .page-link{
        background-color: #1c1f23 !important;
        border-color: #1c1f23 !important;
        color: #fff !important;
    }
</style>
