<div data-bs-spy="scroll" data-bs-target="#navbar-example" data-bs-offset="0" class="bg scrollspy-example" tabindex="0">
  <%# <a id="goto-top"><i class="fas fa-angle-up fa-2x" style="color: #fff; margin-top: 10px;"></i></a> %>
    <div class="hero-section">
        <div class="hero-img row">
            <div class="col-sm-8 ">
                <div style="padding:0 10px 0 0; position: relative;">
                    <%#= render 'carousel2' %>
                    <div class="overlay1 shadow">
                        <!--<img src="<%#= asset_pack_path 'media/images/5.jpg' %>" width="100%" height="460px" alt="Tz beach" >-->
                        <%= render 'carousel2'%>
                    </div>
                    <div class="hero-text text-white" style="position: absolute; top:40%; left:50px; z-index:3;">
                         <div class="row">
                            <p style="font-weight: 700; font-size: 42px; line-height: 100%;font-family: 'Zen Antique', serif;">
                                Embracing our Cultures,<br> Preserving our Heritage.
                            </p>
                        </div>
                        <div class="row">
                            <p style="font-weight: 400; font-size: 22px">
                                Go on boutique tours to the heart of 
                                the motherland. <br> 
                            </p>
                        </div>
                        <br>
                        <%= link_to 'Travel with us', booking_form_path, class:"btn btn-lg btn-light shadow-lg",style:"font-weight: 600;", remote:true%>
              
                    </div>
                </div>
            </div>
            <div class="col-sm-4 shadow" style="background-color: #EACCB4 !important; position: relative;">
                <div style="padding:50px;position: absolute; top:15%;">
                    <div class="row">
                        <p style="font-weight: 500; font-size: 20px; line-height: 150%;">
                            Don't miss out
                        </p>
                        <p style="font-weight: 700; font-size: 42px; line-height: 100%;font-family: 'Zen Antique', serif;">
                            Travel with Us<span style="color:#FBC71D;">.</span>
                        </p>
                        <p style="font-weight: 400; font-size: 18px">
                            Let us customize a trip to any destination of your choice,
                            contact us now. 
                        </p>
                        <br>
                        <div>
                        <%= link_to "Customize your trip", custom_trip_form_path, class:"btn btn-lg btn-dark shadow", style:"width: 60%;", remote: true %>   
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
    </div>
    <div class="trips-section" id="destinations">
        <div class= "row section-header-wrapper">
            <p class="my-section-header">
                Upcoming Trips<span style="color:#FBC71D;">.</span>
            </p>
        </div>
        <div class="row my-wrapper-w-color">   
            <div class="col-sm-3">
                <% if !@tours[0].nil? %>
                    <div class="tripp-card shadow">
                        <% if @tours[0].image.attached? %>
                            <%= link_to booking_details_path(title: @tours[0].title), remote:true do %>    
                                <img src="<%= url_for(@tours[0].image) %>" alt="Trip Image Preview" class="f-destination-img shadow">
                            <% end %>
                            <div class="tripp-card-text">
                                <div  style="padding: 10px; 0">
                                    <span class="text-4"><%= @tours[0].title %></span><br>
                                    <% start_date = @tours[0].start_date %>
                                    <span class="text-3 font-weight-300"><%=  start_date.to_date.strftime("%d") if !start_date.nil?%></span>
                                    <span class="text-1 font-weight-300 text-uppercase"><%= start_date.to_date.strftime("%b") if !start_date.nil?%>,
                                        <%=  start_date.to_date.strftime("%Y") if !start_date.nil? %>
                                    </span> - 
                                    <% end_date = @tours[0].end_date %>
                                    <span class="text-3 font-weight-300"><%=  end_date.to_date.strftime("%d") if !end_date.nil?%></span>
                                    <span class="text-1 font-weight-300 text-uppercase"><%= end_date.to_date.strftime("%b") if !end_date.nil?%>,
                                        <%=  end_date.to_date.strftime("%Y") if !end_date.nil? %>
                                    </span>
                                </div>
                                <div class="row" style="padding: 0 20px">
                                    <%= link_to 'Book', booking_details_path(title: @tours[0].title),class:"btn btn-sm btn-dark shadow", remote:true %>
                                </div>
                            </div>
                        <% else %>
                            <img src="<%= asset_pack_path 'media/images/placeholder.png' %>" alt="Image not available" class="f-destination-img shadow">
                        <% end %>
                    </div>
                <% end %>
            </div>
             <div class="col-sm-3">
                <% if !@tours[1].nil? %>
                    <div class="tripp-card shadow">
                        <% if @tours[1].image.attached? %>
                            <%= link_to booking_details_path(title: @tours[1].title), remote:true do %>    
                                <img src="<%= url_for(@tours[1].image) %>" alt="Trip Image Preview" class="f-destination-img shadow">
                            <% end %>
                            <div class="tripp-card-text">
                                <div  style="padding: 10px; 0">
                                    <span class="text-4"><%= @tours[1].title %></span><br>
                                    <% start_date = @tours[1].start_date %>
                                    <span class="text-3 font-weight-300"><%=  start_date.to_date.strftime("%d") if !start_date.nil?%></span>
                                    <span class="text-1 font-weight-300 text-uppercase"><%= start_date.to_date.strftime("%b") if !start_date.nil?%>,
                                        <%=  start_date.to_date.strftime("%Y") if !start_date.nil? %>
                                    </span> - 
                                    <% end_date = @tours[1].end_date %>
                                    <span class="text-3 font-weight-300"><%=  end_date.to_date.strftime("%d") if !end_date.nil?%></span>
                                    <span class="text-1 font-weight-300 text-uppercase"><%= end_date.to_date.strftime("%b") if !end_date.nil?%>,
                                        <%=  end_date.to_date.strftime("%Y") if !end_date.nil? %>
                                    </span>
                                </div>
                                <div class="row" style="padding: 0 20px">
                                    <%= link_to 'Book', booking_details_path(title: @tours[1].title),class:"btn btn-sm btn-dark shadow", remote:true %>
                                </div>
                            </div>
                        <% else %>
                            <img src="<%= asset_pack_path 'media/images/placeholder.png' %>" alt="Image not available" class="f-destination-img shadow">
                        <% end %>
                    </div>
                <% end %> 
            </div>
             <div class="col-sm-3">
                <% if !@tours[2].nil? %>
                    <div class="tripp-card shadow">
                        <% if @tours[2].image.attached? %>
                            <%= link_to booking_details_path(title: @tours[2].title), remote:true do %>    
                                <img src="<%= url_for(@tours[2].image) %>" alt="Trip Image Preview" class="f-destination-img shadow">
                            <% end %>
                            <div class="tripp-card-text">
                                <div  style="padding: 10px; 0">
                                    <span class="text-4"><%= @tours[2].title %></span><br>
                                    <% start_date = @tours[2].start_date %>
                                    <span class="text-3 font-weight-300"><%=  start_date.to_date.strftime("%d") if !start_date.nil?%></span>
                                    <span class="text-1 font-weight-300 text-uppercase"><%= start_date.to_date.strftime("%b") if !start_date.nil?%>,
                                        <%=  start_date.to_date.strftime("%Y") if !start_date.nil? %>
                                    </span> - 
                                    <% end_date = @tours[2].end_date %>
                                    <span class="text-3 font-weight-300"><%=  end_date.to_date.strftime("%d") if !end_date.nil?%></span>
                                    <span class="text-1 font-weight-300 text-uppercase"><%= end_date.to_date.strftime("%b") if !end_date.nil?%>,
                                        <%=  end_date.to_date.strftime("%Y") if !end_date.nil? %>
                                    </span>
                                </div>
                                 <div class="row" style="padding:0 20px;">
                                        <%= link_to 'Book', booking_details_path(title: @tours[2].title),class:"btn btn-sm btn-dark shadow", remote:true %>
                                </div>
                            </div>
                        <% else %>
                            <img src="<%= asset_pack_path 'media/images/placeholder.png' %>" alt="Image not available" class="f-destination-img shadow">
                        <% end %>
                    </div>
                <% end %>
            </div>
             <div class="col-sm-3">
                <% if !@tours[3].nil? %>
                    <div class="tripp-card shadow">
                        <% if @tours[3].image.attached? %>
                            <%= link_to booking_details_path(title: @tours[3].title), remote:true do %>    
                                <img src="<%= url_for(@tours[3].image) %>" alt="Trip Image Preview" class="f-destination-img shadow">
                            <% end %>
                            <div class="tripp-card-text">
                                <div style= "padding: 10px 0">
                                    <span class="text-4"><%= @tours[3].title %></span><br>
                                    <% start_date = @tours[3].start_date %>
                                    <span class="text-3 font-weight-300"><%=  start_date.to_date.strftime("%d") if !start_date.nil?%></span>
                                    <span class="text-1 font-weight-300 text-uppercase"><%= start_date.to_date.strftime("%b") if !start_date.nil?%>,
                                        <%=  start_date.to_date.strftime("%Y") if !start_date.nil? %>
                                    </span> - 
                                    <% end_date = @tours[3].end_date %>
                                    <span class="text-3 font-weight-300"><%=  end_date.to_date.strftime("%d") if !end_date.nil?%></span>
                                    <span class="text-1 font-weight-300 text-uppercase"><%= end_date.to_date.strftime("%b") if !end_date.nil?%>,
                                        <%=  end_date.to_date.strftime("%Y") if !end_date.nil? %>
                                    </span>
                                </div>
                                <div class="row"  style= "padding: 0 20px">
                                    <%= link_to 'Book', booking_details_path(title: @tours[3].title),class:"btn btn-sm btn-dark shadow", remote:true %>
                                </div>
                            </div>
                        <% else %>
                            <img src="<%= asset_pack_path 'media/images/placeholder.png' %>" alt="Image not available" class="f-destination-img shadow">
                        <% end %> 
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="testimonials-section " id="testimonials" style="background-color: #EACCB4; color: #161616 !important;"><!-- #FCB100-->
        <div class= "row section-header-wrapper">
            <p class="my-section-header">
                Testimonials<span style="color:#FBC71D;">.</span>
            </p>
        </div>
        <div style="margin: 0 auto; width: 90%;">
            <%= render 'testimonial_carousel'%>
            <br><br>
            <div class="row">
                <div class="col d-flex justify-content-center ">
                    <%= link_to 'Leave a comment', testimonial_form_path, class:"btn btn-lg btn-dark shadow-lg", style:"font-size: 24px; font-weight: 400;", remote: true %>
                </div>
            </div>
        </div>
    </div>
    <div class="about-section" id="about">
        <div class="row section-header-wrapper">    
            <p class="my-section-header">
                About Sanbrafie Group Inc<span style="color:#FBC71D;">.</span>
            </p>
        </div>
         <div class="row my-wrapper">
          <div class="col-lg-6 about-text">
            <div class=" d-block mx-auto" style="padding:0 50px 0 0; margin: 0 auto; width: 96%;">
                <p class="testimonial-text w3-animate-left" style="font-size:18px !important; color: #161616 !important">
                  Sanbrafie Group Incorporated provides travel and tour management services and business and educational consulting services.   
                  The motto of Sanbrafie Group is: <br>
                  <span class="text-4" style="color: #C70039 !important; margin: 10px 0;">"Embracing our Cultures. Preserving our Heritage."</span> <br><br>

                  <b>Travel and Tour Management</b><br>
                  Sanbrafie Group Inc provides customized and boutique travel experiences to Africa, catering to cross generational 
                  groups in advocacy that every Diasporan should “come back home- Sanbrafie”.  Our tours include cultural immersion and 
                  heritage experiences, adventurous journeys, networking, and community engagement.  <br><br>
                  
                  <b>Business and Educational Consulting Services</b> <br>
                  Sanbrafie Group Inc provides:<br>  
                  - Data analytics consulting services <br>
                  - School and community partnership consultation <br>
                  - Educational reform and innovation consultation (PK to 12 and higher education levels) <br>
                </p>
            </div>
          </div>
          <div class="col-lg-6 about-img"  style="background-color: #EACCB4 !important; position: relative; border-radius: 20px;">
            <div class=" w3-animate-right" style="position: absolute; top: 70px; bottom: 0; margin: auto; left: 0; right:0;">
              <img src="<%= asset_pack_path 'media/images/logotext.png' %>" width="100%" height="600px" style="margin-top:-80px;" alt="Sanbrafie logo">
            </div>
          </div>
        </div>
    </div>
    <div class="gallery-section" id="gallery">
        <div class="row section-header-wrapper">
            <p class="my-section-header">
                Gallery<span style="color:#FBC71D;">.</span>
            </p>
             <%= render 'gallery'%>
        </div>
    </div>
    <div class="contact-section" id="contact" style="padding: 0 0 100px 0;">
        <div class="row section-header-wrapper">
            <p class="my-section-header">
                Get in touch with Us<span style="color:#FBC71D;">.</span>
            </p>
        </div>
        
        <div class="row"  style="margin: 0 auto; width: 94%;">
            <div class="col-sm-6">
                <div style="padding: 5px; background-color: #EACCB4 !important; border-radius: 8px;">
                     <img src="<%= asset_pack_path 'media/images/9.jpeg' %>" width="100%" height="100%" alt=" demo instructions" style=" border-radius: 6px;">
                </div>
            </div>
            <div class="col-sm-6">
                <div style="padding: 0 50px 50px border: black 2px solid;" >
                    <div class="row">
                        <p style="font-weight: 700; font-size: 32px; line-height: 100%;font-family: 'Zen Antique', serif;">We would love to hear from you<span style="color:#FBC71D;">,</span> </p>
                        <p style="font-size:18px; font-weight:500; ">Leave a message below, and we'll be in touch. Have a nice day!</p>
                    </div>
                    <br>
                    <div class="row shadow-sm" style="background-color: #FFE4C4 !important; position: relative; border-radius: 20px;">
                    <%# <br><br><br> %>
                        <div style="padding: 50px;">
                            
                            <%= simple_form_for(@customer_msg) do |f| %>
                            <%= f.error_notification %>
                            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

                            <div class="form-inputs">
                                <div class="mt-3 mb-3 row">
                                    <div class="col-sm-6">
                                        <%= f.input :full_name, input_html:{class:"form-control-lg Sanbrafie-input b-input"}, label:"Name"  %>
                                    </div>
                                    <div class="col-sm-6">
                                        <%= f.input :email, input_html:{class:"form-control-lg Sanbrafie-input b-input"}, label:"Email"  %>
                                    <!--contact-section-input-->
                                    </div>
                                </div>
                                <div  class="py-3 mt-3 mb-3">
                                    <%= f.input :message ,as: :text, input_html:{class:"form-control-lg Sanbrafie-input my-text-box b-input"}  %>
                                </div>
                            </div>
                            <br>

                            <div class="form-actions">
                                <%= f.button :submit,'Send message', class:"btn btn-lg btn-dark shadow-lg", style:"width:250 !important; font-size: 24px; font-weight: 400;" %>
                            </div>
                            <% end %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  class="footer-section " style="background-color: #EACCB4; padding-top: 20px; color:#090909;">
        <div class="my-container">
            <div class="d-flex justify-content-center">
                <%# <div class="row">
                <p class="bold-text" style="font-family: 'Seaweed script' !important; color: #e6e8e9 !important; font-size: 32px !important;">
                    Sanbrafie
                </p>
                </div><br> %>
                <div class="row footer-stuff" style=" padding:0; margin:0;">
                    <div id="footer-socials" style="padding:0; margin:0;">
                        <div class="footer-socials-icon px-2">
                            <a class="social-icon" href="https://www.facebook.com/sanbrafietours/?ref=pages_you_manage">
                                <i class="fab fa-facebook-square fa-lg"></i>
                            </a>
                        </div>
                        <div class="footer-socials-icon text-dark px-2">
                            <a class="social-icon" href="https://instagram.com/sanbrafie">
                                <i class="fab fa-instagram fa-lg"></i>
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="footer-stuff">
                        <p  style="color: #101010;font-size:15px; font-weight:500; padding:0; margin:0;">P.O.Box 7114, Silver Spring, Maryland 20907</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row text-center">
            <p class="footer-copyright text-dark">
                © 2021 Sanbrafie Group Inc | Travel and tour management services, and business and educational consulting services Platform from Sanbrafie Group Inc. 
            </p>
        </div>
    </div>

    <div id="booking"></div>
    <div class="custom-trip"></div>
    <div class="booking-details"></div>
    <div class="tos-form"></div>
    <div id="contact"></div>
    <div id="testimonial"></div>

</div>

<style>

</style>