<div data-bs-spy="scroll" data-bs-target="#navbar-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
  <div class="carousel-section" style="margin: 0 auto !important; height: 650px !important;">
    <%#= render 'devise/sessions/carousel'%>
    <div class="col-12 row">
     <%# style="border: red 2px solid" %>
      <div class="col-5 col-xs-12 header-text">
       <br><br>
        <div class="big-text d-block mx-auto" >
            <%# <p style="color: #efefef; font-size:54px; font-weight: 800;">Travel with us</p> %>
        
            <p class="bold-text w3-animate-top">
               Embracing our Cultures, 
                <br>Preserving our Heritage.
            </p>
            <p class="carousel-mini-text w3-animate-left" >
                Go on boutique tours to the heart of 
                the motherland. <br> 
            </p>
            <br>
            <%= link_to 'Travel with us', booking_form_path, class:"btn btn-lg btn-outline-light cta-btn", remote:true%>

        </div>
      </div>
      <div class="col-7" style="margin-right: -20px;">
        <%= render 'carousel' %>
      </div>
    </div>
  </div>
  <div class="destinations-section my-container " id="destinations" style="padding: 100px 0 100px 0">
    <div class="d-flex justify-content-center">
      <p class="section-headings "> Featured Destinations</p>
      <%#=link_to 'View all', tours_path, class:"ms-auto btn btn-lg btn-light"%>
    </div>
    <br>
    <div class="destination-cards d-flex align-content-start flex-wrap" >
      <%= render 'featured_trips' %> 
    </div>
  </div>
  </div>
  <%# #fcbb47 %>
  <div class="testimonials-section " id="testimonials" style="padding: 100px 0 100px 0; background-color: #212529">
    <div class="my-container">
        <div class="d-flex bd-highlight">
          <p class="section-headings " style="color:white !important;"> Testimonials</p>
        </div>
        <%= render 'testimonial_cards'%>
    </div>
  </div>
  <div class="about-section" id="about" style="padding: 100px 0 50px 0; background-color: #eeebe8">
    <div class="my-container">
        <div class="d-flex bd-highlight">
          <p class="section-headings "> SanBraFie Group Inc.</p>
        </div>
        <div class="row">
          <div class="col">
            <div class=" d-block mx-auto" style="padding:0 50px 0 0;">
                <p class="testimonial-text w3-animate-left" style="font-size:18px !important;">
                  Come and travel with Sanbrafie Group Inc. to Ghana for our Homegoing Tour in December 2021 
                  for an exciting cultural heritage journey focused on historical and cultural immersion experiences, 
                  service learning & community engagement, Afrochella and PinexGinja Festival celebrations, shopping excursions, 
                  networking and business investment opportunities, and beach vacation in Ghana, West Africa. Learn of the rich 
                  traditions and rituals of Ghana. Experience Ghanaian art, craftsmanship, music, literature, drumming & dancing,  
                  fun at Aqua Safari, Water Falls, language lesson, Pan African dialogue, and more. And, not to be missed are the 
                  dungeons and forts constructed to facilitate the gold trade and later used as the main auction market and garrison 
                  for the slave trade, now a site for the Door of Return. Be a part of a cultural experience that can impact your 
                  worldview. Ghana has named 2020 and next decade: "Beyond the Return".
                </p>
            </div>
          </div>
          <div class="col">
            <div class=" w3-animate-right">
              <img src="<%= asset_pack_path 'media/images/image2.jpg' %>" height="600px" width="100%" alt=" demo instructions"></img>
            </div>
          </div>
        </div><br><br>
    </div>
  </div>
  <div class="contact-section " id="contact" style="background-color: #050505; color: #fafafa; padding: 30px 0 50px 0;">
    <div class="my-container">
      <div class="row">
        <div class="col-4">
          <div class="d-flex bd-highlight">
            <p class="section-headings ">Contact Us</p>
          </div>
          <br>
          <div class="customer-msg-form">
            
            <%= simple_form_for(@customer_msg) do |f| %>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

              <div class="form-inputs">
                <%= f.input :email, input_html:{class:"form-control-lg contact-section-input"}  %>
                <div class="row">
                  <div class="col">
                    <%= f.input :othernames, input_html:{class:"form-control-lg contact-section-input"}, label:"Firstname"  %>
                  </div>
                  <div class="col">
                    <%= f.input :surname, input_html:{class:"form-control-lg contact-section-input"}, label:"Lastname"  %>
                  </div>
                </div>
                <%= f.input :message ,as: :text, input_html:{class:"form-control-lg contact-section-input my-text-box"}  %>
              </div>
              <br>

              <div class="form-actions">
                <%= f.button :submit,'Send', class:"btn btn-lg btn-outline-light" %>
              </div>
            <% end %>

          </div>
        </div>
        <div class="col-2"></div>
        <div class="col-6">
          <img src="<%= asset_pack_path 'media/images/logo.png' %>" width="100%" height="400px" alt=" demo instructions">
        </div>
      </div>
    </div>
  </div>
  <div id="booking"></div>

</div>


<style>
  .big-text{
  padding: 80px 65px !important;
  top: 50%;
  z-index: 5;
}
.section-headings{
  text-align: left !important;
  font-family: 'poppins'!important;
  font-weight: 500 !important;
  font-size:36px;
  line-height: 36px;
  margin-top: 30px;
  margin-bottom: 30px;
  // font-weight: 700;
}
.cta-btn{
  width: 100% !important;
}
.cta-btn:hover{
  color: black;
  background-color: white;
  border: 2px #5d5d5d solid !important;
  height: 56px !important;
}
</style>
<script>
  $('#destination-btn').click(function() {
    $('html, body').animate({
      scrollTop: $("div.destinations-section").offset().top
    }, 600)
  }), 
</script>
