<div data-bs-spy="scroll" data-bs-target="#navbar-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
  <a id="goto-top"><i class="fas fa-angle-up fa-2x" style="color: #fff; margin-top: 10px;"></i></a>

  <div class="carousel-section" style="background-color: #101010 !important; height: 540px !important;">
    <div class="row">
     <!-- <div class="col-lg-6 header-text-bg-darkk">
        <div class="header-text">
          <br><br><br>
          <div class="big-text d-block mx-auto" >
              <p class=" w3-animate-top transparent-text" style="color: #FBC71D !important; font-weight: 400 !important;">
                Sanbrafie
              </p>
              <--<div >
                <img src="<%#= asset_pack_path 'media/images/logo-text.png' %>" height="250px" width="80%"/>
              </div>--
              <p class="bold-text-white w3-animate-top">
                  Embracing our Cultures, 
                  <br>Preserving our Heritage.
              </p>
              <p class="carousel-mini-text-white w3-animate-left">
                  Go on boutique tours to the heart of 
                  the motherland. <br> 
              </p>
              <br>
              <%#= link_to 'Travel with us', booking_form_path, class:"cta-btn-light shadow-lg",style:"color: #101010 !important;background-color: #FBC71D !important;", remote:true%>
              <br><br>
          </div>
        </div>
      </div>-->
      <div class="col-lg-12 the-carousel">
        <%= render 'carousel' %>
      </div>
    </div>
  </div>
  <div class="destinations-section" id="destinations" style="padding: 50px 0; background-color: #fff !important; color:#090909 !impotant;">
    <div class=" my-container ">
      <div class="d-flex justify-content-center">
        <p class="section-headings "> Featured Trips</p>
      </div>
      <br>
      <div class="destination-cards d-flex" >
        <%= render 'featured_trips' %> 
      </div>

      <br><br>
      <div class="row ">
          <div class="d-flex justify-content-center">
              <%#= link_to 'View All', tours_path, class:"btn btn-lg btn-dark", style:"width: 250px;"%>
          </div>
      </div>
    </div>
  </div>
  </div>
  <%# #fcbb47 %>
  <div class="testimonials-section " id="testimonials" style="padding: 100px 0 150px 0; background-color: #f6f6f6; color: #161616 !important;">
    <div style="margin: 0 auto; width: 90%;">
        <div  class="d-flex justify-content-center">
          <p class="section-headings "> Testimonials</p>
        </div>
        <%= render 'testimonial_carousel'%>
        <br><br>
        <div class="row">
            <div class="col d-flex justify-content-center ">
                <%= link_to 'Leave a comment', testimonial_form_path, class:"btn btn-lg btn-dark shadow-lg", style:"font-size: 24px; font-weight: 400;", remote: true %>
            </div>
        </div>
    </div>
  </div>
  <div class="about-section" id="about" style="padding: 100px 0 50px 0; background-color: #ffffff; color: #161616;">
    <div class="my-container">
        <div class="d-flex justify-content-center"  style="padding: 0 0 40px 0;">
          <p class="section-headings ">About SanBraFie Group Inc.</p>
        </div>
        <div class="row">
          <div class="col-lg-6 about-text">
            <div class=" d-block mx-auto" style="padding:0 50px 0 0; margin: 0 auto; width: 96%;">
                <p class="testimonial-text w3-animate-left" style="font-size:18px !important; color: #161616 !important">
                  Sanbrafie Group Incorporated provides travel and tour management services and business and educational consulting services.   
                  The motto of Sanbrafie Group is: <br>
                  <span class="text-4" style="color: #C70039 !important; margin: 10px 0;">"Embracing our Cultures. Preserving our Heritage."</span> <br><br>

                  <b>Travel and Tour Management</b><br>
                  Sanbrafie Group Inc provides customized and boutique travel experiences to Africa, catering to cross generational 
                  groups in advocacy that every Diasporan should “come back home- Sanbrafie”.  Our tours include cultural immersion and 
                  heritage experiences, adventurous journeys, networking, and community engagement.  <br><br>
                  
                  <b>Business and Educational Consulting Services</b> <br>
                  Sanbrafie Group Inc provides:<br>  
                  - Data analytics consulting services <br>
                  - School and community partnership consultation <br>
                  - Educational reform and innovation consultation (PK to 12 and higher education levels) <br>
                </p>
            </div>
          </div>
          <div class="col-lg-6 about-img">
            <div class=" w3-animate-right">
              <img src="<%= asset_pack_path 'media/images/logotext.png' %>" width="100%" height="600px" style="margin-top:-80px;" alt="Sanbrafie logo">
            </div>
          </div>
        </div><br><br>
    </div>
  </div>

<%# ================== %>
 <div class="gallery-section " id="gallery" style="padding: 100px 0 150px 0; background-color: #f5f5f6; color:#090909">
    <div class="my-container">
       <div class="d-flex justify-content-center">
            <p class="section-headings ">Gallery</p><br><br>
        </div>
      <%= render 'gallery'%>
    </div>
  </div>
<%# ================== %>

  <div class="contact-section " id="contact" style="padding: 100px 0 150px 0; background-color: #fff; color:#090909">
    <div class="my-container">
      <div>
          <div class="d-flex justify-content-center">
            <p class="section-headings ">Get in touch</p><br><br>
          </div>
          <div class="d-flex justify-content-center">
            <p class="carousel-mini-text w3-animate-left" style="padding-left:15px;">We would love to hear from you, kindly leave your details below.</p>
          </div>
          <br><br><br>
          <div class="customer-msg-form" >
            
            <%= simple_form_for(@customer_msg) do |f| %>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

              <div class="form-inputs">
                <div class="mb-3 row">
                  <div class="col-sm-6">
                    <%= f.input :full_name, input_html:{class:"form-control-lg Sanbrafie-input"}, label:"Name"  %>
                  </div>
                  <div class="col-sm-6">
                    <%= f.input :email, input_html:{class:"form-control-lg Sanbrafie-input"}, label:"Email"  %>
                  <!--contact-section-input-->
                  </div>
                </div>
                <div  class="mb-3">
                  <%= f.input :message ,as: :text, input_html:{class:"form-control-lg Sanbrafie-input my-text-box"}  %>
                </div>
              </div>
              <br>

              <div class="form-actions">
                <%= f.button :submit,'Send', class:"btn btn-lg btn-dark shadow-lg", style:"width:250 !important; font-size: 24px; font-weight: 400;" %>
              </div>
            <% end %>

          </div>
      </div>
    </div>
  </div>

  <div  class="footer-section " style="background-color: #000; padding: 20px 0 0 0; color:#f6f8f9;">
    <div class="my-container">
      <div class="d-flex justify-content-center">
        <%# <div class="row">
          <p class="bold-text" style="font-family: 'Seaweed script' !important; color: #e6e8e9 !important; font-size: 32px !important;">
            Sanbrafie
          </p>
        </div><br> %>
        <div class="row">
          <ul id="footer-socials" >
            <li class="footer-socials-icon">
              <a class="social-icon" href="https://www.facebook.com/sanbrafietours/?ref=pages_you_manage">
                <i class="fab fa-facebook-f fa-2x"></i>
              </a>
            </li>
            <li class="footer-socials-icon">
              <a class="social-icon" href="https://instagram.com/sanbrafie">
                <i class="fab fa-instagram fa-2x"></i>
              </a>
            </li>
            <%# <li class="footer-socials-icon">
              <a class="social-icon" href="https://twitter.com/_kwvme">
                <i class="fab fa-twitter fa-2x"></i>
              </a>
            </li> %>
          </ul>
        </div>
        <p>P.O.Box 7114, <br>Silver Spring, <br>Maryland 20907</p>
      </div>
    </div>
      <hr>
    <div class="row text-center">
        <p class="footer-copyright">
            © 2021 Sanbrafie Group Inc | Travel and tour management services, and business and educational consulting services Platform from Sanbrafie Group Inc. 
        </p>
    </div>
  </div>

  <div id="booking"></div>
  <div class="custom-trip"></div>
  <div class="booking-details"></div>
  <div class="tos-form"></div>
  <div id="contact"></div>
  <div id="testimonial"></div>

</div>


<style>

  #goto-top {
    display: inline-block;
    background-color:#1C1F23; 
    /* #FF9800; */
    width: 54px;
    height: 54px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    position: fixed;
    bottom: 40px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }

#goto-top:hover {
  cursor: pointer;
  background-color: #333;
}
#goto-top:active {
  background-color: #555;
}
#goto-top.show {
  opacity: 1;
  visibility: visible;
}

</style>

<script>
  var btn = $('#goto-top');

  $(window).scroll(function() {
    if ($(window).scrollTop() > 600) {
      btn.addClass('show');
    } else {
      btn.removeClass('show');
    }
  });

  btn.on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({scrollTop:0}, '300');
  });
</script>