<div data-bs-spy="scroll" data-bs-target="#navbar-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
  <div class="carousel-section" style="">
    <%#= render 'devise/sessions/carousel'%>
    <div class="row">
     <%# style="border: red 2px solid" %>
      <div class="col-6 col-xs-12 header-text">
      <br>
        <div class="big-text d-block mx-auto" >
            <%# <p style="color: #efefef; font-size:54px; font-weight: 800;">Travel with us</p> %>
            <p class="bold-text w3-animate-top" style="font-family: 'Seaweed script' !important; color: #111111 !important; font-size: 134px !important;">
              Sanbrafie
            </p>
           <br>
            <p class="bold-text w3-animate-top" style="font-family: 'Montserrat' !important; color: #f6f8f9 !important;">
               Embracing our Cultures, 
                <br>Preserving our Heritage.
            </p>
            <p class="carousel-mini-text w3-animate-left" >
                Go on boutique tours to the heart of 
                the motherland. <br> 
            </p>
            <br>
            <%= link_to 'Travel with us', booking_form_path, class:"btn btn-lg btn-light cta-btn", remote:true%>
            <br><br><br>
           <%# <p class="bold-text w3-animate-top" style="font-family: 'Montserrat' !important; color: #111111 !important; font-size: 32px !important; letter-spacing:12px;">
               Travel with us
            </p> %>
        </div>
      </div>
      <div class="col-6 ">
        <%= render 'carousel' %>
      </div>
    </div>
  </div>
  <div class="destinations-section" id="destinations" style="padding: 130px 0; background-color: #fff !important; color:#090909 !impotant;">
    <div class=" my-container ">
      <div class="d-flex justify-content-center">
        <p class="section-headings "> Featured Trips</p>
        <%#=link_to 'View all', tours_path, class:"ms-auto btn btn-lg btn-light"%>
      </div>
      <br>
      <div class="destination-cards d-flex align-content-start flex-wrap" >
        <%= render 'trips' %> 
      </div>
      <br><br>
      <div class="row ">
          <div class="d-flex justify-content-center">
              <%#= link_to 'View All', tours_path, class:"btn btn-lg btn-dark", style:"width: 250px;"%>
          </div>
      </div>
    </div>
  </div>
  </div>
  <%# #fcbb47 %>
  <div class="testimonials-section " id="testimonials" style="padding: 100px 0 150px 0; background-color: #f6f6f6; color: #161616 !important;">
    <div style="margin: 0 auto; width: 90%;">
        <div  class="d-flex justify-content-center">
          <p class="section-headings "> Testimonials</p>
        </div>
        <%= render 'testimonial_carousel'%>
        <br><br>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <%= link_to 'Leave a comment', testimonial_form_path, class:"btn btn-lg btn-dark", style:"font-size: 24px; font-weight: 400; border: 2px white solid", remote: true%>
            </div>
        </div>
    </div>
  </div>
  <div class="about-section" id="about" style="padding: 100px 0 50px 0; background-color: #ffffff; color: #161616">
    <div class="my-container">
        <div class="d-flex justify-content-center"  style="padding: 0 0 40px 0;">
          <p class="section-headings "> SanBraFie Group Inc.</p>
        </div>
        <div class="row">
          <div class="col">
            <div class=" d-block mx-auto" style="padding:0 50px 0 0;">
                <p class="testimonial-text w3-animate-left" style="font-size:18px !important; color: #161616 !important">
                  Sanbrafie Group Incorporated provides travel and tour management services and business and educational consulting services.   
                  The motto of Sanbrafie Group is: <br>
                  <span class="text-4" style="color: #C70039 !important; margin: 10px 0;">"Embracing our Cultures. Preserving our Heritage."</span> <br><br>

                  <b>Travel and Tour Management</b><br>
                  Sanbrafie Group Inc provides customized and boutique travel experiences to Africa, catering to cross generational 
                  groups in advocacy that every Diasporan should “come back home- Sanbrafie”.  Our tours include cultural immersion and 
                  heritage experiences, adventurous journeys, networking, and community engagement.  <br><br>
                  
                  <b>Business and Educational Consulting Services</b> <br>
                  Sanbrafie Group Inc provides:<br>  
                  - Data analytic consulting services <br>
                  - School and community partnership consultation <br>
                  - Educational reform and innovation consultation (PK to 12 and higher education levels) <br>
                </p>
            </div>
          </div>
          <div class="col">
            <div class=" w3-animate-right">
              <img src="<%= asset_pack_path 'media/images/logotext.png' %>" width="100%" height="600px" style="margin-top:-80px;" alt=" demo instructions">
            </div>
          </div>
        </div><br><br>
    </div>
  </div>
  <div class="contact-section " id="contact" style="padding: 100px 0 150px 0; background-color: #090909; color:#f6f8f9">
    <div class="my-container">
      <div class="row">
          <div class="d-flex justify-content-center">
            <p class="section-headings ">Get in touch</p><br><br>
          </div>
          <div class="d-flex justify-content-center">
            <p class="text-3 w3-animate-left" style="color: #e2e2e2 !important; font-weight: 400 !important;">We would love to hear from you, kindly leave your details below.</p>
          </div>
          <br><br><br><br>
          <div class="customer-msg-form" style="margin: 0 auto; width: 70%;">
            
            <%= simple_form_for(@customer_msg) do |f| %>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

              <div class="form-inputs">
                <div class="mb-3 row">
                  <div class="col">
                    <%= f.input :full_name, input_html:{class:"form-control-lg contact-section-input"}, label:"Name"  %>
                  </div>
                  <div class="col">
                    <%= f.input :email, input_html:{class:"form-control-lg contact-section-input"}, label:"Email"  %>
                  <!--contact-section-input-->
                  </div>
                </div>
                <div  class="mb-3">
                  <%= f.input :message ,as: :text, input_html:{class:"form-control-lg contact-section-input my-text-box"}  %>
                </div>
              </div>
              <br>

              <div class="form-actions">
                <%= f.button :submit,'Send', class:"btn btn-lg btn-outline-light", style:"width: 200px;" %>
              </div>
            <% end %>

          </div>
      </div>
    </div>
  </div>
  <div  class="footer-section " style="background-color: #000; padding: 20px 0 0 0; color:#f6f8f9;">
    <div class="my-container">
      <div class="d-flex justify-content-center">
        <%# <div class="row">
          <p class="bold-text" style="font-family: 'Seaweed script' !important; color: #e6e8e9 !important; font-size: 32px !important;">
            Sanbrafie
          </p>
        </div><br> %>
        <div class="row">
          <ul id="footer-socials" >
            <li class="footer-socials-icon">
              <a class="social-icon" href="https://www.facebook.com/sanbrafietours/?ref=pages_you_manage">
                <i class="fab fa-facebook-f fa-2x"></i>
              </a>
            </li>
            <li class="footer-socials-icon">
              <a class="social-icon" href="https://instagram.com/sanbrafie">
                <i class="fab fa-instagram fa-2x"></i>
              </a>
            </li>
            <%# <li class="footer-socials-icon">
              <a class="social-icon" href="https://twitter.com/_kwvme">
                <i class="fab fa-twitter fa-2x"></i>
              </a>
            </li> %>
          </ul>
        </div>
        <p>P.O.Box 7114, <br>Silver Spring, <br>Maryland 20907</p>
      </div>
    </div>
      <hr>
    <div class="row text-center">
        <p class="footer-copyright">
            © 2021 Sanbrafie Group Inc | Travel and tour management services, and business and educational consulting services Platform from Sanbrafie Group Inc. 
        </p>
    </div>
  </div>

  <div id="booking"></div>
  <div class="custom-trip"></div>
  <div class="booking-details"></div>
  <div id="tos-form"></div>
  <div id="contact"></div>

</div>


<style>
#footer-socials{
 list-style-type: none;
 list-style:none;
 padding-bottom: -20px;
}

.footer-socials-icon{
  display: inline;
  text-decoration: none;
  margin: 0 18px;
}

.social-icon{
  color: #f6f8f9;
}

.social-icon:hover{
  color: #4d4d4d;
}

.footer-copyright{
  font-size: 12px;
  font-family: 'poppins';
  color: #e6e8e9;
}

.carousel-section{
  background:#090909 !important;
  margin: 0 auto !important; 
  height: 780px !important;
}
  .big-text{
  padding: 80px 65px !important;
  top: 50%;
  z-index: 5;
}
.section-headings{
  text-align: left !important;
  font-family: 'poppins'!important;
  font-weight: 500 !important;
  font-size:36px;
  line-height: 36px;
  margin-top: 30px;
  margin-bottom: 30px;
  // font-weight: 700;
}
.cta-btn{
  width: 50% !important;
  height: 60px;
}
.cta-btn:hover{
  color: black;
  background-color: white;
  border: 2px #5d5d5d solid !important;
  height: 62px !important;
}
</style>
<script>
  $('#destination-btn').click(function() {
    $('html, body').animate({
      scrollTop: $("div.destinations-section").offset().top
    }, 600)
  }), 
</script>
