 <div id="test-modal" class="w3-modal w3-animate-opacity" style="display: block  margin-top: 50px;">
    <div class="w3-modal-content w3-card-4 " style="width: 540px; padding-bottom: 60px" >
      <div class="d-flex justify-content-end" style="margin: 20px;">
        <span onclick="document.getElementById('test-modal').style.display='none'"
            class="btn btn-lg btn-dark">&times;</span>
      </div>
      <br>
      <div class="w3-container">
        <%= simple_form_for :booking_form, url: create_testimonial_path, :method =>'post' ,html: { class: 'form-horizontal' } do |f| %>
            <form>
                <div class="form-inputs my-form-margin">
                    <div class="col-sm-12">
                        <div  class="mb-3">
                            <%= f.label :Trip, style:"color: #090909 !important;" %>
                            <%= f.input :tour_id, collection: @tours, label_method: :title, value_method: :id, input_html:{class:"form-control-lg form-select sanbrafie-input"}, label:"Select a trip" %>   
                        </div>
                         <div  class="mb-3">
                            <%= f.label :Full_name, style:"color: #090909 !important;" %>
                            <%= f.input :fullname, input_html:{class:"form-control-lg sanbrafie-input"} %>
                        </div>
                        <div  class="mb-3">
                        
                        </div>
                        <div  class="mb-3">
                            <%= f.label :testimonial, style:"color: #090909 !important;" %>
                            <%= f.input :message ,as: :text, input_html:{class:"form-control-lg sanbrafie-input my-text-box"}  %>
                        </div>
    
                        <br>
                        <div class="d-grid gap-2">
                            <%= f.submit "Send", class: "btn btn-lg btn-dark" %>
                        </div>
                    </div>
                </div>
            </form>
        <% end %>
      </div>
    </div>
</div>

<style>
    .sanbrafie-input{
        background-color:#f2f2f2  !important;
        border:none !important;
        border-radius: 0px !important;
    }
    .my-form-margin{
        padding: 0 40px;
    }
</style>

