<div class="row">
    <div class="col trip-card">
        <%= link_to booking_details_path(title: "Sanbrafie Homegoing Tour Summer 2022"), remote:true do %>   
            <img src="<%= asset_pack_path 'media/images/2.jpg' %>" alt="Trip Image Preview" class="f-destination-img shadow">
        <% end %>
        <div>
            <span class="text-4">Sanbrafie Homegoing Tour Summer 2022</span><br>
            <span class="text-3 font-weight-300">19</span>
            <span class="text-1 font-weight-300 text-uppercase">JUN,
                2022
            </span> 
            - to - 
            <span class="text-3 font-weight-300">30</span>
            <span class="text-1 font-weight-300 text-uppercase">JUN,
                2022
            </span>
        </div>     
    </div>

    <div class="col trip-card">
        <%= link_to booking_details_path(title: "Ghana December 2022"), remote:true do %>        
            <img src="<%= asset_pack_path 'media/images/ghdec.jpg' %>" alt="Trip Image Preview" class="f-destination-img shadow">
        <% end %>
        <%# style="padding: 10px; background-color: #ffffff; height: 110px;" class="shadow-sm" %>
        <div>
            <span class="text-4">Ghana December 2022</span><br>
            <span class="text-3 font-weight-300">23</span>
            <span class="text-1 font-weight-300 text-uppercase">DEC,
                2022
            </span> 
            - to - 
            <span class="text-3 font-weight-300">01</span>
            <span class="text-1 font-weight-300 text-uppercase">JAN,
                2023
            </span>
        </div>     
    </div>

    <div class="col trip-card">

        <%= link_to booking_details_path(title: "HBCU Africa Homecoming 2022: 100,000 Strong Africa Conference"), remote:true do %>   
            <img src="<%= asset_pack_path 'media/images/image4.jpg' %>" alt="Trip Image Preview" class="f-destination-img shadow">
        <% end %>
        <div>
            <span class="text-4">HBCU Africa Homecoming 2022: 100,000 Strong Africa Conference</span><br>
            <span class="text-3 font-weight-300">17</span>
            <span class="text-1 font-weight-300 text-uppercase">MAY,
                2022
            </span> 
            - to - 
            <span class="text-3 font-weight-300">24</span>
            <span class="text-1 font-weight-300 text-uppercase">MAY,
                2022
            </span>
        </div>     
    </div>

    <div class="col trip-card">     
        <%= link_to booking_details_path(title: "Sanbrafie Tanzania 2023"), remote:true do %>   
            <img src="<%= asset_pack_path 'media/images/5.jpg' %>" alt="Trip Image Preview" class="f-destination-img shadow">
        <% end %>
        <div>
            <span class="text-4">Sanbrafie Tanzania 2023</span><br>
            <span class="text-3 font-weight-300">22</span>
            <span class="text-1 font-weight-300 text-uppercase">JUN,
                2023
            </span> 
            - to - 
            <span class="text-3 font-weight-300">29</span>
            <span class="text-1 font-weight-300 text-uppercase">JUN,
                2023
            </span>
        </div>     
    </div>
</div>



<style>
    .trip-card{

    }

    .shadow{
    /* background-image:  url('../images/fishermen.jpg'); */
    -webkit-box-shadow: 0px 11px 40px -15px rgba(164, 164, 164, 0.93);
    -moz-box-shadow: 0px 11px 40px -15px rgba(162, 162, 162, 0.93);
    box-shadow: 0px 11px 40px -15px rgba(162, 162, 162, 0.93);
    
    }

    .f-destination-img{
    object-fit: cover !important;
    height: 300px;
    width:100%;
    transition: width .3s, height .3s;
    border-radius: 5px;
    }
    .f-destination-img:hover{
        height:305px;
        width:101%;
    }

</style>

