 <div id="upcoming" class="w3-modal w3-animate-opacity" style="display: block; z-index: 3; margin-top: 50px;">
    <div class="w3-modal-content w3-card-4 " style="width: 550px; padding-bottom: 60px" >
      <div class="d-flex justify-content-end" style="padding:10px;">
        <span onclick="document.getElementById('upcoming').style.display='none'"
            class="btn btn-lg btn-light">&#10799;</span>
      </div>
      <br>
      <div class="w3-container">
        <div class=" " style="background-color:#f5f5f7; padding: 20px 10px; border-left: 0.3px solid #dedede;">
            <div class="d-grid gap-2">
                <h3 class="text-center" style="margin-bottom:20px;">Upcoming Trips</h4>
                <% if current_user.role_code == "admin"%>
                    <%= link_to new_tour_path, class:"btn btn-lg btn-dark " do %>
                        Add a new trip
                    <% end %>
                <% end %>
                <hr>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-bordered" style="display: block; height: 500px; overflow-y: scroll;">          
                    <tbody>
                        <% @tours.each_with_index do |tour, index| %>
                            <tr>
                                <td>
                                    <div class="">
                                        <%# <a href="/tours" > %>
                                            <% if tour.image.attached? %>
                                            
                                                <img src="<%= url_for(tour.image) %>" alt=" demo instructions" class="tl2">
                                            <% else %>
                                                <p class="text-center">Image not available</p>
                                            <% end %>
                                        <%# </a> %>
                                    </div>
                                </td>
                                <td class="align-top">
                                    <!-- <b><%#= tour.tour_id %></b><br> -->
                                    <span class="text-4"><%= tour.title %></span><br>
                                    <%#= tour.start_date.strftime("%m-%d-%Y") if !tour.start_date.nil?%>
                                    <% date = tour.start_date %>
                                    <span class="text-3 font-weight-300"><%=  date.to_date.strftime("%d") if !date.nil?%></span>
                                    <span class="text-1 font-weight-300 text-uppercase"><%= date.to_date.strftime("%b") if !date.nil?%>,
                                        <%=  date.to_date.strftime("%Y") if !date.nil? %>
                                    </span>
                                    -to- 
                                    <% date = tour.end_date %>
                                    <span class="text-3 font-weight-300"><%=  date.to_date.strftime("%d") if !date.nil?%></span>
                                    <span class="text-1 font-weight-300 text-uppercase"><%= date.to_date.strftime("%b") if !date.nil?%>,
                                        <%=  date.to_date.strftime("%Y") if !date.nil? %>
                                    </span>
                                    <br>
                                    <span class="text-3 font-weight-300 text-uppercase">$ <%= tour.price %></span>
                                    <br>
                                    <%= link_to "Itinerary",booking_details_path(id: tour.id),remote: true, class:"btn btn-link" %>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-6 d-grid gap-1">
                                            <%= link_to "Book Trip", book_form_path(tour_id: tour.id), class:"btn btn-md btn-dark", remote: true%>
                                        </div>
                                        <div class="col-sm-6 d-grid gap-1">
                                            <% if current_user.role_code == 'admin'%>
                                                <%= link_to edit_tour_path(tour), class:"btn btn-md btn-secondary" do %>
                                                    <i class="fas fa-edit"></i> Edit
                                                <% end %>
                                            <% end %>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
</div>

