<div class="page-topic text-center">
    <h2> tours </h2>
</div>
<div class="book"></div>
<div class="my-content"> 
    <div class="shadow-box-no-border">
        <div class="manual-breadcrumb">
        <a class="btn-md btn btn-light" href="/">Home</a>  |  <a class="btn-md btn btn-light" href="/tours">Tours</a> 
        <!--    <%# if params[:path] == 'root_path' %>
                <a class="btn-sm btn btn-link" href="/">Home</a>
            <%# else %>
                <%#= link_to "#{params[:page_name]}", params[:path], class:"btn-sm btn btn-link" %>
            <%# end %> / <a class="btn-sm btn btn-link" href="/tours">Tours</a> -->
        </div>
        <hr/>
        <% if current_user.role_code == 'admin' %>
            <div class="d-flex justify-content-end">     
                <%= link_to new_tour_path, class:"btn btn-dark " do %>
                    New Tour
                <% end %>
            </div>
         <% end %>
        <div class="row">
           
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-hover">          
                        <tbody>
                            <% @tours.each_with_index do |tour, index| %>
                                <tr>
                                    <td>
                                        <div class="">
                                            <a href="/tours">
                                                <% if tour.image.attached? %>
                                                    <img src="<%= url_for(tour.image) %>" height="280px" width="280px" alt=" demo instructions" class="tl">
                                                <% else %>
                                                    <p class="text-center">Image not available</p>
                                                <% end %>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <%= tour.tour_id %><br>
                                        <%= tour.title %><br>
                                        <%= tour.stripe_product_id %><br>
                                        <%= tour.stripe_price_id %><br>
                                        <%= tour.start_date %><br>
                                        <%= tour.end_date %><br><br>
                                        <%= tour.sales_count %><br><br>
                                        <%= link_to "Book", book_form_path(tour_id: tour.id), class:"btn btn-md btn-dark", remote: true%>
                                        <% if current_user.role_code == 'admin'%>
                                            <%= link_to edit_tour_path(tour), class:"btn btn-md btn-secondary" do %>
                                                <i class="fa fa-edit"></i> Edit
                                            <% end %>
                                        <% end %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
            
            </div>
        </div>
        
    </div>
</div>
