<div class="my-content"> 
    <div class="index-title">
        <h2> tours </h2>
    </div>
    <div class="shadow-box-no-border">
        <hr/>
        <div>
            <button class="btn btn-outline-primary">Download CSV  <i class="fa fa-download"></i></button>
            <button class="btn btn-outline-primary">Search  <i class="fa fa-search"></i></button>

            <%= link_to new_tour_path, class:"btn btn-outline-primary float-right" do %>
                <span class="glyphicon glyphicon-plus"></span>
                New tour
            <% end %>
        </div>
    

        <div class="table-responsive">
        <hr/>
            <table class="table table-striped table-hover">
                <thead class="bg-light">
                <tr>
                    <th>#</th>
                                        <th>Tour</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Start date</th>
                                        <th>End date</th>
                                        <th colspan="3"></th>
                </tr>
                </thead>

                <tbody>
                <% @tours.each_with_index do |tour, index| %>
                    <tr>
                        <td><%= index + 1 %></td>
                                        <td><%= tour.tour_id %></td>
                                        <td><%= tour.title %></td>
                                        <td><%= tour.description %></td>
                                        <td><%= tour.start_date %></td>
                                        <td><%= tour.end_date %></td>
                           
                        <td>
                            <%= link_to tour, class:"btn btn-md btn-outline-primary",remote: true do %>
                                Details
                            <% end %>
                        </td>                 
                        <td>
                            <%= link_to edit_tour_path(tour), class:"btn btn-md btn-secondary" do %>
                                <i class="fa fa-edit"></i>
                            <% end %>
                        </td>
                        <td>
                            <%= link_to  tour, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-md btn-danger" do %>
                                <i class="fa fa-trash"></i>
                            <% end %>
                        </td>
                    
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
