 <div id="air-mod" class="w3-modal w3-animate-opacity" style="display: block">
    <div class="w3-modal-content w3-card-4 " style="width: 540px; padding-bottom: 60px" >
      <div class="d-flex justify-content-end" style="padding: 10px;">
        <span onclick="document.getElementById('air-mod').style.display='none'"
            class="btn btn-lg btn-dark">&times;</span>
      </div>
      <br>
      <div class="w3-container">
        <% if params[:marker] == "postponed"%>
            <div class="postponement-info">
                <span class="text-4">Please contact Dr Booker on +12345434454 for further assistance</span>
            </div>
        <% else %>
            <%= simple_form_for(@booking_info) do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
                <form>
                    <div class="form-inputs my-form-margin">
                        <div class="col-sm-12">
                            <div class="postponement-info text-center">
                                <p class="text-4">
                                    Please note that the amount paid for a trip is non-refundable.<br>
                                    You can only postpone to the next available tour
                                </p>
                                <span class="text-3"><b>Do you want to postpone this trip?</b></span>
                                <br><br>
                                <%= f.input :status, collection: @status, label_method: :first, value_method: :last,hint:("Please select an option from this dropdown"), input_html:{class:"form-control-lg form-select"},label:false , required: true %>
                                
                                <%# <button class="btn btn-lg btn-danger">Yes</button>
                                <button class="btn btn-lg btn-dark">No</button> %>
                            
                                <div  class="mb-3">
                                    <%= f.input :tour_id, input_html:{value:params[:tour_id],class:"form-control-lg sanbrafie-input"}, as: :hidden %>   
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <%= f.input :surname, input_html:{value: current_user.surname, class:"form-control-lg sanbrafie-input"},as: :hidden %>
                                    </div>
                                    <div class="col">
                                        <%= f.input :othernames, input_html:{value: current_user.othernames, class:"form-control-lg sanbrafie-input"},as: :hidden %>
                                    </div>
                                </div>
                                <div class=" mb-3">
                                        <%= f.input :phone_number, input_html:{class:"form-control-lg sanbrafie-input"},as: :hidden %>
                                        <%= f.input :user_id, input_html:{class:"form-control-lg sanbrafie-input"},as: :hidden %>
                                        <%= f.input :user_uid, input_html:{class:"form-control-lg sanbrafie-input"},as: :hidden %>
                                        <%= f.input :email, input_html:{class:"form-control-lg sanbrafie-input"},as: :hidden %>

                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <%= f.input :coordination_preference, collection: @coordination_preference, label_method: :first, value_method: :last, input_html:{class:"form-control-lg sanbrafie-input"},as: :hidden %>
                                    </div>
                                    <div class="col">
                                        <%= f.input :group_count, input_html:{class:"form-control-lg sanbrafie-input"},as: :hidden%>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <%= f.input :hotel_type, collection: @hotel_type, label_method: :first, value_method: :last, input_html:{class:"form-control-lg sanbrafie-input"},as: :hidden %>
                                    </div>
                                    <div class="col">
                                        <%= f.input :tour_duration, input_html:{class:"form-control-lg sanbrafie-input"},as: :hidden %>
                                    </div>
                                </div>
                                <div  class="mb-3">
                                    <%= f.input :purpose_statement, collection: @purpose_statement, label_method: :first, value_method: :last, input_html:{class:"form-control-lg sanbrafie-input"},as: :hidden %>
                                    <br>
                                    <%= f.input :comment, as: :text, input_html:{class:"form-control-lg sanbrafie-input"}, placeholder:"Add a little detail to your purpose statement",label:false,as: :hidden %>
                                </div>
                                
                                <%# <br> %>
                                <div class="">
                                    <%= f.submit "Yes", class: "btn btn-lg btn-danger" %>
                                    <span onclick="document.getElementById('air-mod').style.display='none'"
                                    class="btn btn-lg btn-dark">No</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            <% end %>
        <% end %>
      </div>
    </div>
</div>

<style>
.w3-modal{
    z-index: 999 !important;
}
    .sanbrafie-input{
        background-color:#f2f2f2  !important;
        border:none !important;
        border-radius: 0px !important;
    }
    .my-form-margin{
        padding: 0 40px;
    }
    .postponement-info{
        padding: 25px;
        background-color:#dfe6e9;
    }
</style>

