<div class="page-topic text-center">
    <h2> Booking Information </h2>
</div>
<div class="my-content"> 
    <div class="shadow-box-no-border">
        <hr/>
        <div>
            <button class="btn btn-outline-primary">Download CSV  <i class="fa fa-download"></i></button>
            <button class="btn btn-outline-primary">Search  <i class="fa fa-search"></i></button>

            <%= link_to new_booking_info_path, class:"btn btn-outline-primary float-right" do %>
                <span class="glyphicon glyphicon-plus"></span>
                New Booking
            <% end %>
        </div>
    

        <div class="table-responsive">
        <hr/>
            <table class="table table-striped table-hover">
                <thead class="bg-light">
                <tr>
                    <th>#</th>
                                        <th>Surname</th>
                                        <th>Othernames</th>
                                        <th>Phone number</th>
                                        <th>Coordination preference</th>
                                        <th>Group count</th>
                                        <th>Hotel type</th>
                                        <th>Tour duration</th>
                                        <th>Purpose statement</th>
                                        <th colspan="3"></th>
                </tr>
                </thead>

                <tbody>
                <% @booking_infos.each_with_index do |booking_info, index| %>
                    <tr>
                        <td><%= index + 1 %></td>
                                        <td><%= booking_info.surname %></td>
                                        <td><%= booking_info.othernames %></td>
                                        <td><%= booking_info.phone_number %></td>
                                        <td><%= booking_info.coordination_preference %></td>
                                        <td><%= booking_info.group_count %></td>
                                        <td><%= booking_info.hotel_type %></td>
                                        <td><%= booking_info.tour_duration %></td>
                                        <td><%= booking_info.purpose_statement %></td>
                           
                        <td>
                            <%= link_to booking_info, class:"btn btn-md btn-outline-primary",remote: true do %>
                                Details
                            <% end %>
                        </td>                 
                        <td>
                            <%= link_to edit_booking_info_path(booking_info), class:"btn btn-md btn-secondary" do %>
                                <i class="fa fa-edit"></i>
                            <% end %>
                        </td>
                        <td>
                            <%= link_to  booking_info, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-md btn-danger" do %>
                                <i class="fa fa-trash"></i>
                            <% end %>
                        </td>
                    
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
