<div class="row"> 
  <div class="col-3 log-form">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
          <%= f.input :login, label:"Email", input_html:{class:"form-control-lg"}  %>
          <br>
          <div class="row">
            <div class="col-10">
              <%= f.input :password,required: false,input_html: { autocomplete: "current-password" ,class:"form-control-lg"} %>
            </div>
            <div class="col-2" id="eye-toggl">
              <i id="show_password" class="fa fa-eye display-icons" aria-hidden="true"></i>
              <i id="hide_password" style="display:none;" class="fa fa-eye-slash display-icons" aria-hidden="true"></i>
            </div>
          </div>
          <br>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
      <br>
      <div class="form-actions d-grid gap-2">
          <%= f.button :submit, "Log in", class:"btn btn-lg btn-dark ",input_html:{id:"my-submit-btn"},data: { "loading-text"=>"<i class='fa fa-circle-o-notch fa-spin'></i>"} %>
      </div>
    <% end %>
    <br>
    <div class="d-grid gap-2">
      <%= render "devise/shared/links" %>
    </div>
    
  </div>
  <div class="col-9 login-page-image">
  </div>
</div>


<style>
  #eye-toggl{
    border: 1px solid #181818;
    margin-left: -10px;
  }

  .log-form{
    background-color:#f6f8f9 !important;
    padding: 50px;
  }

  .login-page-image{
    background-image:  url('../images/image6.jpg');
    background-size: cover;
    object-fit: cover;
    height: 100vh;
  }

  .form-inputs{
    border-radius: 0px !important;
  }
</style>

<script>
$('#show_password').on('click', function(){
  var x = document.getElementById("password");
  var show_icon = document.getElementById("show_password");
  var hide_icon = document.getElementById("hide_password");
      
  x.type = "text";

  show_icon.style.display = "none";
  hide_icon.style.display = "block";
  
});

$('#hide_password').on('click', function(){
  var x = document.getElementById("password");
  var show_icon = document.getElementById("show_password");
  var hide_icon = document.getElementById("hide_password");
      
  x.type = "password";
  
  show_icon.style.display = "block";
  hide_icon.style.display = "none";
  
});

$('#my-submit-btn').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 8000);
});
</script>