<div class="landing-page-content">
<div id="devise-form"></div>
    <header class="carousel-section" >
        <%#= render 'devise/sessions/carousel'%>
        <div class="row">
          <div class="col">
            <div class="big-text d-block mx-auto" >
                <p class="bold-text">
                    Embracing our
                    Cultures, <br>Preserving 
                    our Heritage.
                </p>
                <p class="carousel-mini-text">
                    Boutique tours to the heart of 
                    the motherland. <br> Connecting
                    through service learning.
                </p>
                <br>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-lg cta-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Book a tour with us</button>


                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Welcome!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="form-inputs">
                            <%= f.input :email,
                                        required: false,
                                        autofocus: true,
                                        input_html: { autocomplete: "email" } %>
                            <%= f.input :password,
                                        required: false,
                                        input_html: { autocomplete: "current-password" } %>
                            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                        </div>

                        <div class="form-actions">
                            <%= f.button :submit, "Log in" %>
                        </div>
                        <% end %>

                        <%= render "devise/shared/links" %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-lg btn-dark" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
          </div>
          <div class="col">
            <img src="<%= asset_pack_path 'media/images/image4.jpg' %>" height="600px" width="100%" alt=" demo instructions"></img>
          </div>
        </div>
    </header>
    <div class="destinations-section my-container">
      <div class="d-flex bd-highlight">
        <p class="section-headings "> Featured Destinations</p>
        <button class="ms-auto btn btn-md btn-outline-danger p-2 bd-highlight">View All</button>
      </div>
      <br>
      <div class="destination-cards d-flex align-content-start flex-wrap">
        <%= render 'cards'%>
      </div>
    </div>
    </div>
    <div class="testimonials-section my-container">
      <div class="d-flex bd-highlight">
        <p class="section-headings "> Testimonials</p>
      </div>
      <br>
      <div>
        <div class="top-comment d-flex bd-highlight" style=" padding: 20px">
          <div class="comment-sect">
            <div class="ratings">

            </div>
            <div class="comment">
              <p class="testimonial-text">
                “Lorem ipsum dolor sit amet, consectetur <br>
                adipiscing elit, sed do eiusmod tempor <br>
                incididunt ut labore et dolore magna aliqua. <br>
                Ut enim ad minim veniam, quis nostrud <br>
                exercitation ullamco laboris nisi ut aliquip <br> 
                ex ea commodo consequat.”
              </p>
              <br>
              <button class="btn btn-lg btn-outline-dark">Leave a testimonial</button>
                
            </div>
          </div>
          <div class="commenter-image-div ms-auto">
            <div class="commenter-image ">
              <div class="card p-card">
                <img src="<%= asset_pack_path 'media/images/image4.jpg' %>" height="auto" width="100%" alt=" demo instructions"></img>
              </div>
            </div>
          </div>
        </div>
        <br><br><br>
        <div>
          <div class="destination-cards d-flex align-content-start flex-wrap">
            <%= render 'testimonial_cards'%>
          </div>
        </div>
      </div>
    </div>
    <div class="about-section my-container">
      <div class="d-flex bd-highlight">
        <p class="section-headings "> SanBraFie Group Inc.</p>
      </div>
      <br><br><br>
        <div class="row">
          <div class="col">
            <div class=" d-block mx-auto" >
               <p class="testimonial-text">
                  Come and travel with Sanbrafie Group Inc. to Ghana for our Homegoing Tour in December 2021 for an exciting cultural heritage journey focused on historical and cultural immersion experiences, service learning & community engagement, Afrochella and PinexGinja Festival celebrations, shopping excursions, networking and business investment opportunities, and beach vacation in Ghana, West Africa. Learn of the rich traditions and rituals of Ghana. Experience Ghanaian art, craftsmanship, music, literature, drumming & dancing,  fun at Aqua Safari, Water Falls, language lesson, Pan African dialogue, and more. And, not to be missed are the dungeons and forts constructed to facilitate the gold trade and later used as the main auction market and garrison for the slave trade, now a site for the Door of Return. Be a part of a cultural experience that can impact your worldview.  
                  Ghana has named 2020 and next decade: "Beyond the Return".
                </p>
            </div>
          </div>
          <div class="col">
            <img src="<%= asset_pack_path 'media/images/image2.jpg' %>" height="600px" width="100%" alt=" demo instructions"></img>
          </div>
        </div><br><br>
    </div>
    <div class="contact-section my-container">
      <div class="d-flex bd-highlight">
        <p class="section-headings ">Our Address</p>
      </div>
    </div>

    
</div>








<style>

.big-text{
  padding: 80px;
  top: 50%;
}

.modal{
  border-radius: 0px !important;
}
.modal-dialog{
  border-radius: 0px !important;
}

.l-section-one{
  padding: 40px;
  text-align: left !important;
}

.l-section-two{
  padding: 40px;
  /* margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}

.log-in-form{
  padding: 30px;
  background: white;
  width: 60%;
  margin: 0 auto;
}
header{
  height: 600px;
  /* width: 100vw;  */
  background-image: url('<%= asset_pack_path 'media/images/image3.jpg' %>');
  /* background-image: url('../images/image2.jpg'); */
}

.carousel-section img {
    object-fit: cover;
    opacity: 1.9;
  }
  .my-container{
     margin: 0 auto;
     width: 90%;
  }
  .card{
    margin: 6px !important;
    width: 17rem;
  }
  .p-card{
    margin-bottom: 40px !important;
    width: 20rem !important;
    height: 22rem !important;
  }
  .testimonial-text{
    text-align: left !important;
    font-size:20px;
    font-weight: 400;
    line-height: 110%;
  }
  .destinations-section{
    padding: 100px 0 100px 0;
  }
  .section-headings{
    text-align: left !important;
    font-size:42px;
    font-weight: 700;
    line-height: 96%;
  }
  .btn-outline-orange{
    border:2px solid orange;
    width: 60px;
  }
  .carousel{
    z-index: 2 !important;
  }
  .carousel-section{
    height:620px;
    background:#fdfdfd;
    /* opacity:0.6; */
  }
  .carousel-caption{
    text-align: left !important;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
   .carousel-mini-text{
     color: #090909;
     font-size:24px;
     font-weight: 200;
   }
    .carousel-bold-text{
     color: #090909;
     font-size:48px;
     font-weight: 700;
     line-height: 96%;
   }
    .bold-text{
      font-family: Poppins-600 ;
     color: #090909;
     font-size:52px;
     font-weight: 700;
     line-height: 110%;
   }
   .cta-btn{
     color: white;
     background: black;
     font-weight: 400;
     font-size: 24px;
     width:300px;
   }
   .cta-btn:hover{
      color: black;
      background-color: white;
      border: 2px black solid;
   }
   .about-section{
     padding: 100px 0 100px 0;
   }
</style>