<div class="container-fluid">
<% if user_signed_in? %>
    <div class="row flex-nowrap">
        <div class="col-auto col-md-2 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2  min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto  text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <%= link_to 'Profile', profile_path, class:" " %>
                    </li>
                    <li class="nav-item">
                       <%= link_to 'My Gallery',media_page_path, class:" " %>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'My trips', trips_page_path, class:" " %>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        <% end %>
        <div class="col py-3">
            <%= render 'layouts/navigation'%>
            <div id="notif-msg" class="col-sm-12">
            <%= render 'layouts/messages' %>
            </div>
            <br>
            <%= yield %>
        </div>
    </div>

</div>












